<h1>Log In</h1>

<p id="notice"><%= notice %></p>
<% if flash[:error] %>
  <div id="error_explanation">
    <h2><%= flash[:error] %></h2>
  </div>
<% end %>
<%= form_tag sessions_path do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <p><%= link_to "forgotten password?", new_password_reset_path %></p>
  <div class="field">
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
<br/>
<h3>Don't have an account?</h3>
<%= link_to "Register", register_path %>
