<%= form_for(@fillup) do |f| %>
  <% if @fillup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fillup.errors.count, "error") %> prohibited this fillup from being saved:</h2>

      <ul>
      <% @fillup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :price_per_gallon %><br />
    <%= f.text_field :price_per_gallon %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :gallons %><br />
    <%= f.text_field :gallons %>
  </div>
  <div class="field">
    <%= f.label :miles %><br />
    <%= f.number_field :miles %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
